Source: loxodo
Maintainer: Christoph Sommer <mail@christoph-sommer.de>
Section: utils
Priority: optional
Build-Depends: python-setuptools (>= 0.6), python (>= 2.7), python-qt4 (>= 4.10), debhelper (>= 7.4.3), xdg-utils (>= 1.1)
Standards-Version: 3.9.4
X-Python-Version: >= 2.7

Package: loxodo
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Password Safe V3 compatible Password Vault
