[Desktop Entry]
Name=Loxodo
Name[en]=Loxodo
Comment=Password Safe V3 compatible Password Vault, PyQt4 front-end.
Keywords=encryption;security;
Exec=/usr/bin/loxodo -qt4
Terminal=false
Type=Application
Icon=loxodo-qt-icon
Categories=Utility;Security;
StartupNotify=true

