[Desktop Entry]
Name=Loxodo
Name[en]=Loxodo
Comment=Password Safe V3 compatible Password Vault, wxWidgets front-end.
Keywords=encryption;security;
Exec=/usr/bin/loxodo -wx
Terminal=false
Type=Application
Icon=loxodo-qt
Categories=Utility;Security;
StartupNotify=true

