<!doctype html>
<head>
<title>Loxodo Password Vault web interface</title>
<link href="static/stylesheets/style.css" media="screen" rel="stylesheet"      type="text/css" />
</head>

<body>
{% if name %}
  <h1>You are logged in!</h1>
  <p> Opened vault info: </p>
  <ul>
    <li>Get list of vault entries <a href="/list">list</a></li>
    <li>Add new entry to vault <a href="/add">add</a></li>
    <li>Modify existing entry in vault <a href="/mod">mod</a></li>
    <li>Logout from web loxodo <a href="/logout">logout</a></li>
  </ul>
{% else %}
  <h1>You are not logged in please go to <a href="/login">/login site</a> to log in.</h1>
{% endif %}
</body>