<!doctype html>
<head>
<title>List of modifiable entries in opened vault</title>
<link href="static/stylesheets/style.css" media="screen" rel="stylesheet"      type="text/css" />
</head>
<body>
  <h1>List of modifiable entries in opened vault</h1>
  <p>Go back <a href="/">Home</a></p>
  <form action="" method="post">
  <div>
    <table border="1">
      <tr>
        <th>Group</th>
        <th>Title</th>
        <th>User name</th>
        <th>Notes</th>
        <th>URL</th>
        <th>Last mod. time</th>
        <th>Modify entry</th>
      </tr>
        {% for record in vault_records %}
        <tr>
          <td>{{record.group.encode('utf-8', 'replace')}}</td>
          <td>{{record.title.encode('utf-8', 'replace')}}</td>
          <td>{{record.user.encode('utf-8', 'replace')}}</td>
          <td>{{record.notes.encode('utf-8', 'replace')}}</td>
          <td>{{record.url.encode('utf-8', 'replace')}}</td>
          <td>{{record.last_mod|datetimeformat}}</td>
          <td><input name="mod_radio" type="radio" value="{{record.last_mod|get_html_id}}" /></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <p><input type=submit value="Modify" method="post"/></p>
    </div>
  </div>
  </form>
</body>
